<form   [formGroup]="miFormulario"
        (submit)="guardar()">

    <!-- Selecciona la persona que va a realizar la evaluación-->

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Escoge la persona a ser evaluada</label>
            <select class="form-control"
                    formControlName="nombreEvaluador">
                <option value="">Selecciona la persona</option>
                <option *ngFor="let evaluado of nombreEvaluador1"
                        [value]="evaluado">{{evaluado}}</option>
            </select>
        </div>
    </div>

    <!-- Agregar a persona que va a Evaluar -->

    <div class="mb-3 row" *ngIf="miFormulario.controls['nombreEvaluador'].value !== ''">
       
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group" >
                <input  class="form-control"
                        [formControl] = "nuevoPersonasAEvaluar"
                        (keyup)="setAndFilterOptionList($event)"
                        [value]="nuevoPersonasAEvaluar"
                        >

            </div>
            <ul class="list-group" >
                <li *ngFor="let option of optionList"
                    class="list-group-item">
                    <button class="btn btn-link" 
                            type="button" 
                            (click)="agregarFavorito(option)">
                        {{option}}
                    </button>
                </li>
            </ul>
        </div>

    </div>
    <div class="=mb-3 row" *ngIf="miFormulario.controls['nombreEvaluador'].value !== ''">
        <label class="col-form-label">Personas a Evaluar</label>

        <ul class="list-group">
            <li class="list-item-group"
                *ngFor="let person of this.miFormulario.controls['personasAEvaluar'].value; let i = index">
                {{person }}
                <button class="btn btn-danger" 
                        type="button" 
                        (click)="borrar(i)">
                    Eliminar
                </button>
            </li>
        </ul>
    </div>
</form>



<div class="row">
    <div class="col">
        <button type="submit"
                (click)="guardar()"
                class="btn btn-primary float-end">
            Enviar Formulario
        </button>
    </div>
</div>


<h3>Valid:</h3>
<pre>{{miFormulario.valid}}</pre>
<h3>Valor:</h3>
<pre>{{miFormulario.value|json}}</pre>
